.mainList{
  overflow-y: auto;
  height: 58.1vh;
}
.productList{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.noProducts{
  height: 100%;
  font-size: 3rem;
  color:white;
}
@media (min-width: 600px){
  .cardBox{
    width: 27%;
  }
}
@media (max-height:600px){
  .mainList{
    height: 45vh;
  }
}
@media (min-height: 801px){
  .mainList{
    height: 70vh;
  }
}
@media (min-height: 920px){
  .mainList{
    height: 85vh;
  }
}
