.card{
  margin: 0.5rem 1rem 0.5rem 1rem;
  width:100%;
}
.card > .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-link{
  background:none;
  font-weight: 700;
  font-size: 1.5rem;
  border:none;
  outline: none;
  margin: 1mm;
  margin-bottom: 0.2cm;
  cursor: pointer;
}
.no-link:hover{
  color: rgb(53, 138, 230);
}
.cardBody{
  text-align: center;
}
.menuBtn{
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
  border:none;
}
.menuBtn:hover{
  height: 1.45rem;
  width: 1.45rem;
}
.hr-light{
  width: 80%;
}
.modalHeader{
  text-align: center;
}
.modal-body{
  display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.modal-content{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}
form{
  margin: 0.5rem 0 1rem 0;
}
.Title{
  font-size: 2rem;
    font-weight: 500;
}
.btn-group > button{
 margin: 0.5rem;
 background-color: rgba(0, 0, 0, 0.85);
}
.modalButton:hover{
  background-color: white !important;
  color: black !important;
}
.titleCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.productId{
  word-break: break-all;
  text-align: center;
  color: rgba(58, 58, 58, 0.85);

}
.buttonFooter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.defective{
  text-align: center;
  color:  rgba(58, 58, 58, 0.726);
}
